@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* tailwind reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace;
    font-weight: 500;
  }
}

#root {
  background-image: url(https://img.freepik.com/premium-photo/3d-style-illustration-f1-racing-car-with-abstract-out-space-speed-effect-background-formula-1_117038-4298.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

input[type="checkbox"].hidden {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: green;
}

.custom-checkbox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="checkbox"]:checked + .custom-checkbox svg {
  opacity: 1;
}